.lsta{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.article{
    display: flex;
    flex-direction: column;
}
.articleitem{
    margin: 10px;
    border: 2px solid black;
    width: 600px;
    height: 250px;
    display: flex;
    flex-direction: row;
}
.ad{
    border: 2px solid black;
    width: 400px;
    height: 800px;
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    background-image: url(https://i.pinimg.com/originals/e2/bd/ed/e2bded1e1b32ded3fa9c79f3d8912af0.jpg);
    background-size: cover;
}
.imgitem{
    width: 300px;
    height: 230px;
    background-image: url(https://c.ndtvimg.com/2023-02/uvv85628_ravindra-jadeja_625x300_10_February_23.jpg?im=FeatureCrop,algorithm=dnn,width=806,height=605);
    background-size: cover;
    margin: 10px;
}
.txtitem{
    width: 300px;
    height: 200px;
    font-style: italic;
    text-align: center;
    margin: auto;
}